<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_FEE" name="fee">
        <field name="name_school" type="text" 
               default="TRƯỜNG ĐẠI HỌC MỎ ĐỊA CHẤT" 
               label="COM_FEE_NAME_SCHOOL"
               description="COM_FEE_NAME_SCHOOL_DESCRIPTION"
         />
         <field name="address" type="textarea" 
               default="Phường Đức Thắng - Quận Bắc Từ Liêm - Hà Nội" 
               label="COM_FEE_SCHOOL_ADDRESS"
               description="COM_FEE_SCHOOL_ADDRESS_DESCRIPTION"
         />
          <field name="department" type="text" 
               default="Phòng Tài vụ" 
               label="COM_FEE_DEPARTMENT"
               description="COM_FEE_DEPARTMENT_DESCRIPTION"
         />
          <field name="department_code" type="text" 
               default="Mã đơn vị SDNS : 1055493" 
               label="COM_FEE_DEPARTMENT_CODE"
               description="COM_FEE_DEPARTMENT_CODE_DESCRIPTION"
         />
          
          <field
            name="save_history"
            type="radio"
            class="btn-group btn-group-yesno"
            default="0"
            label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
            description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
            name="history_limit"
            type="text"
            filter="integer"
            label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
            description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
            default="5"
        />
    </fieldset>
    <fieldset 
        name="permissions"
	description="JCONFIG_PERMISSIONS_DESC"
	label="JCONFIG_PERMISSIONS_LABEL">

		<field 
                    name="rules" type="rules" component="com_fee"
                    class="inputbox" filter="rules" validate="rules"
                    label="JCONFIG_PERMISSIONS_LABEL"
                    section="component" />
	</fieldset>
</config>