.icon-48-students {
      background-image: url(../images/l_students.png);
      padding-left:60px!important;
}

.icon-48-student {
      background-image: url(../images/l_students.png);
      padding-left:60px!important;
}

.icon-48-courses {
      background-image: url(../images/l_courses.png);
      padding-left:60px!important;
}

.icon-48-course {
      background-image: url(../images/l_courses.png);
      padding-left:60px!important;
}

.icon-48-departments {
      background-image: url(../images/l_departments.png);
      padding-left:60px!important;
}

.icon-48-department {
      background-image: url(../images/l_departments.png);
      padding-left:60px!important;
}

.icon-48-levels {
      background-image: url(../images/l_levels.png);
      padding-left:60px!important;
}

.icon-48-level {
      background-image: url(../images/l_levels.png);
      padding-left:60px!important;
}

.icon-48-fees {
      background-image: url(../images/l_fees.png);
      padding-left:60px!important;
}

.icon-48-fee {
      background-image: url(../images/l_fees.png);
      padding-left:60px!important;
}

.icon-48-semesters {
      background-image: url(../images/l_semesters.png);
      padding-left:60px!important;
}

.icon-48-semester {
      background-image: url(../images/l_semesters.png);
      padding-left:60px!important;
}

.icon-48-years {
      background-image: url(../images/l_years.png);
      padding-left:60px!important;
}

.icon-48-year {
      background-image: url(../images/l_years.png);
      padding-left:60px!important;
}

.icon-48-receipts {
      background-image: url(../images/l_receipts.png);
      padding-left:60px!important;
}

.icon-48-receipt {
      background-image: url(../images/l_receipts.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}